.heroBanner {
  display: flex;
  flex: 1;
  text-align: center;
  /* position: relative; */
  overflow: hidden;
}

.subscribeForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
